In [21]:
dic = {'name':'jun', 'phone':'01093162598', 'birth':'0326'}
print(dic)

{'name': 'jun', 'phone': '01093162598', 'birth': '0326'}

In [22]:
# 딕셔너리 키/밸류 추가
a = {1:"a"}
a[300] = ["x", "y", "z"]
a

{1: 'a', 300: ['x', 'y', 'z']}

In [23]:
# 딕셔너리 키/밸류 삭제
del a[1] #키가 1인 밸류를 키와 함께 삭제 : 1:"a"
a

{300: ['x', 'y', 'z']}

In [30]:
# 딕셔너리에서 key 사용해 value 얻기
age = {"jun":34, "jo":36}
age["jun"]
print(age["jun"])
age["jo"]

34

36

In [31]:
# key가 중복될 경우 하나 빼고 나머지는 무시된다.
# value에는 리스트를 쓸 수 있지만, key에는 리스트를 쓸 수 없다.

In [44]:
# 딕셔너리 리스트 만들기
jun = {"age":34, "height":176, "phone":"01093162598", "birth":19870326}
junKeys = jun.keys() #딕셔너리의 키로 만들어진 리스트는 리스트 고유의 함수(append,sort 등)은 사용불가
print(junKeys)
print(type(junKeys))

dict_keys(['age', 'height', 'phone', 'birth'])
<class 'dict_keys'>

In [53]:
junList = list(jun.keys()) #이렇게 리스트로 형변환 가능
print(type(junList))

<class 'list'>

In [55]:
list(junKeys) #딕셔너리의 키로 선언한 변수는 형변환 불가
print(type(junKeys))

<class 'dict_keys'>

In [58]:
print(jun)
print(junKeys)
print(junList)

{'age': 34, 'height': 176, 'phone': '01093162598', 'birth': 19870326}
dict_keys(['age', 'height', 'phone', 'birth'])
['age', 'height', 'phone', 'birth']

In [76]:
#키 밸류 추가,변경,삭제
dict = {"name":"sec","id":"300000","address":"suwon"}

In [77]:
#추가
dict["gender"] = "male"
print(dict)

{'name': 'sec', 'id': '300000', 'address': 'suwon', 'gender': 'male'}

In [78]:
#변경
dict["address"] = "busan"
print(dict)

{'name': 'sec', 'id': '300000', 'address': 'busan', 'gender': 'male'}

In [79]:
#삭제
del dict["id"]
print(dict)

{'name': 'sec', 'address': 'busan', 'gender': 'male'}

In [88]:
#pandas와 딕셔너리
import pandas as pd

customerData = {"name":["A고객","B고객","C고객","D고객"], "age":[27,40,33,29],"stock_age":[2,10,5,1]}
dataFrame = pd.DataFrame(customerData) #key를 column으로 보내고 각 key에 value를 대응시킨다.
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [103]:
#pandas와 리스트
import pandas as pd

qtyList = [100,130,40,240]
qtyListDf = pd.DataFrame(qtyList, columns = ["QTY"])
qtyListDf

   QTY
0  100
1  130
2   40
3  240

In [104]:
regionList = ["A01","A02","A03","A04"]
regionListDf = pd.DataFrame(regionList, columns = ["region"])
regionListDf

  region
0    A01
1    A02
2    A03
3    A04

In [107]:
pd.concat([qtyListDf,regionListDf], axis = 1) # x축을 합친다.

   QTY region
0  100    A01
1  130    A02
2   40    A03
3  240    A04

In [115]:
NewDf = pd.DataFrame(zip(qtyList,regionList))
NewDf

     0    1
0  100  A01
1  130  A02
2   40  A03
3  240  A04