In [1]:
dic = {'name':'jun', 'phone':'01093162598', 'birth':'0326'}
print(dic)

{'name': 'jun', 'phone': '01093162598', 'birth': '0326'}

In [2]:
# 딕셔너리 키/밸류 추가
a = {1:"a"}
a[300] = ["x", "y", "z"]
a

{1: 'a', 300: ['x', 'y', 'z']}

In [3]:
# 딕셔너리 키/밸류 삭제
del a[1] #키가 1인 밸류를 키와 함께 삭제 : 1:"a"
a

{300: ['x', 'y', 'z']}

In [5]:
# 딕셔너리에서 key 사용해 value 얻기
age = {"jun":34, "jo":36}
age["jo"]

36

In [11]:
# key가 중복될 경우 하나 빼고 나머지는 무시된다.
# value에는 리스트를 쓸 수 있지만, key에는 리스트를 쓸 수 없다.

In [12]:
# 딕셔너리 리스트 만들기
jun = {"age":34, "height":176, "phone":"01093162598", "birth":19870326}
junKeys = jun.keys() #딕셔너리의 키로 만들어진 리스트는 리스트 고유의 함수(append,sort 등)은 사용불가
print(junKeys)
print(type(junKeys))

dict_keys(['age', 'height', 'phone', 'birth'])
<class 'dict_keys'>

In [13]:
junList = list(jun.keys()) #리스트로 형변환 가능
print(type(junList))
list(junKeys) #딕셔너리의 키로 선언한 변수는 형변환 불가
print(type(junKeys))

<class 'list'>
<class 'dict_keys'>

In [14]:
print(jun)
print(junKeys)
print(junList)

{'age': 34, 'height': 176, 'phone': '01093162598', 'birth': 19870326}
dict_keys(['age', 'height', 'phone', 'birth'])
['age', 'height', 'phone', 'birth']

In [15]:
#키 밸류 추가,변경,삭제
dict = {"name":"sec","id":"300000","address":"suwon"}
#추가
dict["gender"] = "male"
print(dict)
#변경
dict["address"] = "busan"
print(dict)
#삭제
del dict["id"]
print(dict)

{'name': 'sec', 'id': '300000', 'address': 'suwon', 'gender': 'male'}
{'name': 'sec', 'id': '300000', 'address': 'busan', 'gender': 'male'}
{'name': 'sec', 'address': 'busan', 'gender': 'male'}

In [30]:
#pandas와 딕셔너리
import pandas as pd

customerData = {"name":["A고객","B고객","C고객","D고객"], "age":[27,40,33,29],"stock_age":[2,10,5,1]}
dataFrame = pd.DataFrame(customerData) #key를 column으로 보내고 각 key에 value를 대응시킨다.
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [31]:
#pandas와 리스트
import pandas as pd

qtyList = [100,130,40,240]
qtyListDf = pd.DataFrame(qtyList, columns = ["QTY"])
print(qtyListDf)

regionList = ["A01","A02","A03","A04"]
regionListDf = pd.DataFrame(regionList, columns = ["region"])
print(regionListDf)

   QTY
0  100
1  130
2   40
3  240
  region
0    A01
1    A02
2    A03
3    A04

In [32]:
#concat으로 합치기
df = pd.concat([qtyListDf,regionListDf], axis = 1) # x축을 합친다.
df

   QTY region
0  100    A01
1  130    A02
2   40    A03
3  240    A04

In [36]:
#zip으로 합치기
zipDf = pd.DataFrame(zip(qtyList,regionList))
zipDf

     0    1
0  100  A01
1  130  A02
2   40  A03
3  240  A04

In [2]:
#  [리스트 연산] 다음 예제코드를 활용하여 
# customerTotalList의 TOTAL_AMOUNT 컬럼의 최소, 최대값을 모두 뺀 평균을 구하세요. 
# (hint: customerData.sort() 활용, 단 수정제출 시 작성코드도 같이 제출해주세요)
# import pandas as pd
# customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
# customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [50]:
import pandas as pd #라이브러리 선언
# 파일 불러올 때 노트북과 데이터가 같은 디렉토리에 있을 경우 "./"로 불러오고
# 다른 디렉토리에 있을 경우 "../해당디렉토리"로 불러온다
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist() #해당 칼럼만을 리스트로 만든다: .tolist" 
print(type(customerTotalList))

# 최대값, 최소값 모두를 뺀 평균을 구하시오

customerTotalList.sort()
Len = len(customerTotalList)

Min = min(customerTotalList)
Max = max(customerTotalList)

cntMin = customerTotalList.count(Min)
cntMax = customerTotalList.count(Max)

sumMin = Min * cntMin
sumMax = Max * cntMax

Sum = sum(customerTotalList) - sumMin - sumMax
N = Len - cntMin - cntMax
Average = Sum / N

print(Average)

<class 'list'>
35248.91490376756