In [1]:
# \n: 개행(줄을 바꾸는 이스케이프 코드), but 코드가 지저분해지므로 비추. 그냥 따옴표 연속해서 쓰는게 나음
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [3]:
#문자열 인덱싱, 슬라이싱
#구간 인덱싱은 끝 번호에 해당하는 것은 미포함 (예. 3:9  ->  3<=f<9)
f = "Life is too short, You need Python"
print(f[3])
print(f[3:9])
print(f[3:])
print(f[:3])
f[3]

e
e is t
e is too short, You need Python
Lif

'e'

In [16]:
#문자 개수 세기 : .count
i="hobby"
cntb = i.count("b")
print(cntb)

2

In [18]:
#위치확인: .index :해당 문자가 처음 나온 위치를 출력
j="Life is too short"
indexT = j.index("t")
print(indexT)

8

In [9]:
# index로 구분점 설정
yearweek="2017W28"
deli=yearweek.index("W")
#W를 deli(meter)라는 이름의 index로 설정
newYearweek=yearweek[:deli]+yearweek[deli+1:]
# [0 ~ 인덱스 미만] + [인덱스+1이상 ~ 끝]
print(newYearweek)

201728

In [10]:
#대소문자 바꾸기
k = "Led_tv"
k = k.upper()
print(k)
k = k.lower()
print(k)

LED_TV
led_tv

In [14]:
#문자 치환 : .replace
l = "Life is too short"
l = l.replace("Life","Your leg")
print(l)
l = l.replace ("too ","")
print(l)

Your leg is too short
Your leg is short

In [15]:
#문자 분리 : .split
l = l.split(" ")
print(l)
print(type(l))

['Your', 'leg', 'is', 'short']
<class 'list'>

In [20]:
#리스트 요소의 연산
m = [1,2,3]
print(2*m[0]+m[2])

5

In [24]:
#리스트 요소의 연산
n = [1,2,3,["a","b","c"]]
print(n[1])
print(n[3]*2)

2
['a', 'b', 'c', 'a', 'b', 'c']

In [26]:
# 삼중 리스트에서 인덱싱하기
o = [1,2,["a","b",["Life","is"]]]
# life만 출력하기
print(o[2][-1][0])

Life

In [28]:
# 리스트 간 연산
q=[1,2,3]
r=[4,5,6]
print(q+r)

[1, 2, 3, 4, 5, 6]

In [29]:
#자료형 통일하여 연산하기(or not 불가능)
# 3hi를 출력하고 싶다면?
t = [1,2,3]
u = "hi"
T = str(t)
print(type(T))
print(T)
print(T[7]+u) # [1,2,3]에서 ,도 스페이스도 문자로 변환되었으므로 카운트시 주의
#다른 방법으로 3hi 출력
print(str(t[2])+u)
#또 다른 방법으로 3hi 출력
T1 = str(t[2])
print(T1)
v = T1 + u
print(v)

<class 'str'>
[1, 2, 3]
3hi
3hi
3
3hi

In [32]:
#quiz4 [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균을 average 이름의 변수에 담으시오
quiz4 = [120,150,300,500,1000,100,2000]
quiz4.remove(min(quiz4))
quiz4.remove(max(quiz4))
N = len(quiz4)
total = sum(quiz4)
average = total / N
print(average)

414.0

In [42]:
#Sec 2018W28 250 문자열 생성 후 stock_name3, date3, value3로 각각 의미하는 문자열을 생성하세요.
#(단, 모두 대문자여야 하며, 'W'를 삭제해야 함)

quiz1 = "Sec 2018W28 250"
quiz1 = quiz1.upper()
quiz1 = quiz1.replace("W","")
quiz1Split = quiz1.split(" ")    ##split은 동일한 변수로의 재치환 안 된다.
print(quiz1Split)
stock_name3 = quiz1Split[0]
date3 = quiz1Split[1]
value3 = quiz1Split[2]
print(stock_name3,date3,value3)

['SEC', '201828', '250']
SEC 201828 250